@import './variables.scss';

@mixin header-blue {
  background-color: $blue;
  color: $white
}
@mixin blue-header-nav-menu {
  .menu {
    fa-icon {
      font-size: 1.2em;
      margin: 0 4px;
    }
    li, a {
      color: $white;
    }
    li.selected {
      font-weight: bold;
    }
    .sub-menu-container {
      > ul {
        background-color: $light-blue;
      }
    }
  }

  @media screen and (max-width: $break-small) {
    .menu {
        background-color: $light-blue;
        li:not(:last-of-type){
          border-bottom: solid 1px $blue;
        }
        .sub-menu-container {
          > ul {
            background-color: initial;
          }
        }
    }
  }
}

@mixin bars-menu {
  cursor: pointer;
  font-size: 30px;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
}

@mixin header-logo-h40 {
  #logo, .logo{
    height: 40px;
    width: 200px;
    line-height: 40px;
    padding: 0 10px;
  }
}

@mixin header-padding-10-20 {
  padding: 10px 20px;
  @include header-logo-h40();
  nav{
    display: table;
  }
}

@mixin hrefs-design {
  a {
    &:hover{
      text-decoration: none;
    }
    &.active { //--> klasa nadawana przez mechanizm ng: routerLinkActive
      font-weight: bold;
      color: $white-distinct;
    }
  }
}

@mixin nav-menu-presets {
  .menu{
    list-style: none;
    padding-inline-start: 0;
    ul {
      list-style: none;
    }
    @include hrefs-design();
  }
}

@mixin conform-to-nav-h40 {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
}
