@import './variables.scss';

@mixin header-blue {
  background-color: $blue;
  color: $white
}
@mixin blue-header-nav-menu {
  .menu {
    fa-icon {
      font-size: 1.2em;
      margin: 0 4px;
    }
    li, a {
      color: $white;
    }
    li.selected {
      font-weight: bold;
    }
    .sub-menu-container {
      > ul {
        background-color: $light-blue;
      }
    }
  }

  @media screen and (max-width: $break-small) {
    .menu {
        background-color: $light-blue;
        li:not(:last-of-type){
          border-bottom: solid 1px $blue;
        }
        .sub-menu-container {
          > ul {
            background-color: initial;
          }
        }
    }
  }
}

@mixin bars-menu {
  cursor: pointer;
  font-size: 30px;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
}

@mixin header-logo-h40 {
  #logo, .logo{
    height: 40px;
    width: 200px;
    line-height: 40px;
    padding: 0 10px;
  }
}

@mixin header-padding-10-20 {
  padding: 10px 20px;
  @include header-logo-h40();
  nav{
    display: table;
  }
}

@mixin hrefs-design {
  a {
    &:hover{
      text-decoration: none;
    }
    &.active { //--> klasa nadawana przez mechanizm ng: routerLinkActive
      font-weight: bold;
      color: $white-distinct;
    }
  }
}

@mixin nav-menu-presets {
  .menu{
    list-style: none;
    padding-inline-start: 0;
    ul {
      list-style: none;
    }
    @include hrefs-design();
  }
}

@mixin conform-to-nav-h40 {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
}


@mixin adjust-z-indexes-up-to-invitation-panel {
  .menu {
    .sub-menu-container {
      > span {
        z-index: 3;
      }
      > ul {
        z-index: 2;
      }
    }
  }
}

// login panel
@mixin login-panel-sizing {
  width: 400px;
  min-height: 300px;
  // mobile only
  @media screen and (max-width: $break-small) {
    width: 300px;
    height: auto;
  }
}

@mixin app-button {
  background-color: $light-blue;
  border: none;
  padding: 5px 25px;
  border-radius: 5px;
  &:hover{
    color: $white-indistinct;
  }
  &:active{
    transform: translateY(2px);
  }
}

@mixin input-group {
  > .input-group {
    margin: 0 auto;
    width: 100%;
    > p {
      margin: 0;
      padding: 0;
      color: $white-indistinct;
    }
    &:not(:last-of-type){
      margin: 20px 0;
    }
    &.bottom {
      padding: 20px 0;
    }
    > input {
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: solid 2px;
      margin: 4px 0;
      &.invalid{
        border-bottom: solid 2px $red-indistinct;
      }
      &:focus {
        outline: none;
        border-bottom: solid 2px $light-blue;
      }
    }
    .invalid-feedback {
      color: $red-distinct;
    }
  }
}

@mixin app-form {
  > form {
    @include input-group();
  }
  button {
    @include app-button();
  }
}


@mixin createReversibleCard($container, $reversibleCard, $cardSide) {
  .#{$container} {
    perspective: 800px;
  }
  .#{$reversibleCard} {
    &{
      transform-style: preserve-3d;
      transition: transform 1s;
      .#{$cardSide} {
        margin: 0;
        display: block;
        backface-visibility: hidden;
      }
      .back {
        background: #23262d;
        // color: #FFF;
        transform: rotateY(180deg);
      }
      &.reversed{
        transform: rotateY(180deg);
      }
    }
  }
}
