$header-color: aliceblue;
$alert-warn-text-color: red;
$alert-success-text-color: green;
$font-color-blue: rgba(20,80,220,1);
$font-big: 22px;
$font-medium: 20px;
$font-standard: 16px;

$background-lightblue: rgba(150,200,230,0.5)
