$blue: rgba(50, 100, 255, 0.95);
$light-blue: rgba(50, 100, 255, 0.75);
$white: rgb(240,240,240);
$white-indistinct: rgb(240,240,240, 0.75);
$white-distinct: rgb(255, 255, 255);
$red-distinct: rgb(225,25,25);
$red-indistinct: rgb(225,25,25.5);

$break-small: 560px;
$break-large: 1200px;

$header-height: 60px;
$header-z-index: 10;
