@import '../../../../../global.scss/variables.scss';
@import '../../../../../global.scss/mixins.scss';

.login-panel {
  margin: 0 auto;
  @include login-panel-sizing();
  position: relative;
  top: 10vh;
  z-index: 2;
  color: $white;
  background-color: rgba(0,0,0,0.75);
  padding: 20px 40px;
  border-radius: 10px;
  > .input-group {
    @include input-group();
  }
  button {
    @include form-button();
  }
}



