@import '../../../../../global.scss/variables.scss';
@import '../../../../../global.scss/mixins.scss';

@include createReversibleCard(
  'feature-card-container',
  'feature-card',
  'feature-card-side'
);

$card-max-width: 400px;

.feature-card-container {
  max-width: $card-max-width;
  overflow: hidden;
  border-radius: 5px;
  @media screen and (max-width: $break-small) {
    border-radius: 0;
  }
}

.feature-card {
  @media screen and (max-width: $break-small) {
    width: 100vw;
  }
  color: $white-indistinct;
  background-color: $light-black;

  line-height: 20px;
  letter-spacing: 1px;

  .feature-card-side {

    padding: 5px 10px 20px;

    .main-title {
      color: $white;
      font-weight: 500;
    }
    .subtitle {
      font-weight: 400;
    }
    .description {
      padding: 10px 2px;
    }
    img {
      // 5:3 proportion (width:height)
      $img-width: calc( #{$card-max-width} * 0.95);
      $img-height: calc( ( #{$img-width} * 3 ) / 5 );

      width: $img-width;
      height: $img-height;
      margin: 0 auto;
      display: block;
    }
    > .card-controls{
      display: flex;
      justify-content: space-between;
      button {
        @include app-button();
        padding: 5px 35px;
      }
    }
  }
}
