@import '../../../../../../global.scss/variables.scss';

#home-content {
  position: relative;
  top: $header-height;

  > .title-container{
    padding: 20px 40px;
    letter-spacing: 1px;
    background-color: rgba(50, 100, 255, 0.95);
    color: aliceblue;
    > h2 {
      font-weight: 800;
    }
  }

  > #features-cards-container {
    padding: 20px 40px;

    @media screen and (max-width: $break-small) {
      padding: 0;
    }

    > .masonry-grid {
      margin: 0px auto;

      > .feature-masonry-item {
        margin-bottom: 10px;
      }

      @media screen and (max-width: $break-small) {
        width: 100vw !important;
        > .feature-masonry-item {
          margin-bottom: 1px;
        }
      }
    }
  }
}



