@import '../../../../../../../global.scss/variables.scss';
@import '../../../../../../../global.scss/mixins.scss';

.list-item{
  padding: 10px 5px;
  border-bottom: 1px solid $blue;
  height: auto;
  margin-bottom: 10px;
}

.data-container {

  display: flex;

  @media screen and (max-width: $break-small) {
    flex-direction: column;
  }

  p {
    padding: 0;
    margin: 0;
  }

  .order-title,
  .order-vehicle {
    font-size: $medium-font;
    font-weight: 500;
    min-height: 25px;
    margin-bottom: 10px;

    @media screen and (max-width: $break-small) {
      text-align: center;
    }

  }

  .left-side, .right-side {
    width: 50%;
    @media screen and (max-width: $break-small) {
      width: 100%;
    }
  }

}



@mixin data-row {
  .data-row{
    min-height: 25px;
    margin-bottom: 10px;
    > .lbl{
      min-width: 100px;
      display: inline-block;
    }
    > .val {
      font-weight: 500;
    }
  }
}

.side {
  > .button-container {
    @media screen and (max-width: $break-small) {
      height: auto;
    }
    height: 70px;
    padding: 5px;
    text-align: right;
    button {
      @include app-button();
    }
  }
}

.side {
  > .supervisor-data-section {
    @include data-row();
  }
  > .datetimes-section {
    @include data-row();
  }
}
