<div class="row order-row" [ngClass]="rowCssClass">
  <div class="col-xs-8">
    <a href="#" class="list-group-order clearfix">
      <p class="title" [innerHTML]="order.title"></p>
    </a>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left">
          <p [innerHTML]="order.vehicleDescription"></p>
        </div>
        <div class="pull-right" *ngIf="order.dateStart">
          <span>Date start: </span>
          <span [innerHTML]="order.dateStart | date:'medium'"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="pull-right engaged-workers-tab">
      <p *ngIf="order.supervisorId">Supervisor:
        <span>{{ order.supervisor.firstName + ' '+ order.supervisor.lastName }}</span>
      </p>
      <ng-template #noSupervisor>
        <span>Not assigned</span>
      </ng-template>

      <ul *ngIf="order.engagedMechanicians">Mechanicians:
        <li *ngFor="let mechanician of order.engagedMechanicians ">
          {{mechanician.firstName}} {{mechanician.lastName}}
        </li>
      </ul>
    </div>
  </div>
</div>
