<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-order clearfix">
      <div class="pull-left">
        <span [innerHTML]="order.title"></span>
      </div>
      <span class="pull-right">
        <p *ngIf="order.supervisor != null">Supervisor:
          <span [innerHtml]="order.supervisor.firstName"></span>
          <span [innerHtml]="order.supervisor.lastName"></span>
        </p>
        <ul>
          <li *ngFor="let mechanician of order.engagedMechanicians">
            {{mechanician.firstName}} {{mechanician.lastName}}
          </li>
        </ul>
      </span>
    </a>
    <p [innerHtml]="order.title"></p>
  </div>
</div>
