<div id="orders-list">
  <div class="orders-list-header">
    <div class="filters-container">
      <fa-icon class="header-icon" [icon]="faFilterIcon"></fa-icon>
      <app-order-filter></app-order-filter>
    </div>
    <div class="button-section">
      <button (click)="applyFilters()">Apply</button>
    </div>
    <div class="sort-by-container">

    </div>
  </div>
  <div class="order-list-rows-container">
    <app-order-list-item [order]="order" *ngFor="let order of itemResults$ | async"></app-order-list-item>
  </div>

</div>
